* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: aqua;
}

.navbar-brand {
  display: flex;
  font-weight: lighter;
}

.titulo {
  font-weight: 400;
}



a {
  text-transform: capitalize;
}

.card-body {
  background-color: aqua;
}

.foot {
  display: flex;
  justify-content: end;
}

.section-container {
  background-color: black;
}

.text-center {
  color: white;
}

.navbar{
  transition: all 0.5;
}
header-scrolled{
  background-color: aqua;

}
